* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

a {
     text-decoration: none;
 }

ul {
    list-style-type: none;
}

.button-blue {
    background-color: $button_color;
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
}

.card-description {
    display: flex;
    justify-content: space-between;
}

