* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

a {
     text-decoration: none;
 }

ul {
    list-style-type: none;
}

.button-blue {
    background-color: $button_color;
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;

}

.course-row {
    @include narrow-section;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .course-card {
        width: calc(100% / 6 - 10px);
        border: 1px solid $border_color;
        position: relative;
        margin-bottom: 30px;
        .trapezoid {
            position: absolute;
            top: 7px;
            left: -19px;
            border-bottom: 25px solid $features_color;
            border-left: 21px solid transparent;
            border-right: 28px solid transparent;
            height: 0;
            width: 88px;
            transform: rotate(319deg);
            color: white;
            font-size: 10px;
            display: flex;
            align-items: center;
            span {
                padding-top: 22px;
            }
        }
        .plate-green {
            @include plate-base;
            background-color: $eleven_color;
        }
    
        .plate-red {
            @include plate-base;
            background-color: $eight_color;
        }
    
        .plate-yellow {
            @include plate-base;
            background-color: $features_color;
        }
    
        &:nth-child(2) {
            border: 1px solid $seven_color;
        }
        .course-card-text {
            padding: 10px;
            h6 {
                color: $nav_color;
            }
            h5 {
                padding-top: 10px;
                padding-bottom: 15px;
            }
            div {
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
                position: relative;
                span {
                    display: flex;
                    align-items: center;
                }
                span:last-child {
                    font-weight: bold;
                }
                .reduced-price {
                    position: absolute;
                    bottom: 40%;
                    right: 0;
                    font-size: 12px;
                    color: $nav_color;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.card-description {
    display: flex;
    justify-content: space-between;
}

