/*FOOTER*/

footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: $font_color;
    padding-top: 60px;
    .f-column {
        width: 47%;
        display: flex;
        justify-content: space-between;
        div {
            width: 48%;
            
            h3 {
                font-weight: bold;
                padding-bottom: 20px;
            }

            p {
                font-size: 11px;
                a {
                    color: $button_color;
                }
            }

            .social-links {                
                padding-top: 10px;
                i {
                    padding-right: 10px;
                    color: $nav_color;
                }
            }

            .tel {
                padding-top: 20px;
            }

            .email {
                padding-top: 10px;
                color: $nav_color;
            }

            .blog-links {
                display: flex;
                width: 100%;
                padding-bottom: 20px;
                 img {
                    width: 80px;
                    
                }
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    color: $nav_color;
                    padding-left: 20px;
                }
                p {
                    a {
                        color: $nav_color;
                    }
                }


            }
        }
        .f-list {
            h3 {
                margin-right: 10px;
            }
            .f-list-column {
                display: inline-block;
                font-size: 13px;
                ul {
                    list-style-type: disc;
                    li {
                        padding-bottom: 5px;
                        a {
                            color: $font_color;
                        }
                    }
                }
            }
        }

    }
}