/*MAIN*/

main {
    color: $font_color;

    /*Jumbotron*/
    .jumbotron {
        display: flex;
        height: 500px;
        margin-left: 15%;        
        .jumbo-left {
            @include column-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 50px;
                font-weight: 300;
            }
            
            h3 {
                padding-top: 10px;
                padding-bottom: 50px;
                font-weight: 400;
            }
            div {
                @include hover-button;
            }

        }

        .jumbo-right {
            @include column-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url('../img/base.png');
            background-position: center;
            background-size: 500px;
            background-repeat: no-repeat;
            position: relative;
            .book-one {
                width: 25%;
                position: absolute;
                top: 32%;
                right: 13%;
            }

            .book-two {
                width: 30%;
                position: absolute;
                bottom: 18%;
                left: 40%;
            }
            .bubble {
                width: 10%;
                position: absolute;
                top: 24%;
                right: 13%;
            }
            .magnifier {
                width: 10%;
                position: absolute;
                bottom: 29%;
                right: 17%;
            }

        }
    }
    /*Features*/
    .features {
        @include margin-features;
        .top-cards {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            .single-card-top {
                width: calc( 100% / 3 - 15px);                
                background-color: $secondary-color;
                padding: 20px;
                font-size: 14px;
                i {
                    color: $button_color;
                    font-size: 40px;
                }               
                h3 {
                    font-weight: 600;
                    padding: 25px 0;
                }
                p {
                    color: $nav_color;
                    padding-bottom: 10px;
                }
                &:hover {
                    transform: scale(1.1);
                    p {
                        color: $font_color;
                    }
                }

            }
        }

        .bottom-cards {
            display: flex;
            .software-card {
                width: 66%;
            }

            .overlapping-container {
                width: 32%;
                margin-left: 20px;
                .overlapping-card {
                    width: 100%;                    
                    
                    &:first-child {
                        margin-bottom: 23px;
                    }
                }
            }

        }
        .bottom-cards-second {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            .single-card-bottom {

                width: calc( 100% / 3 - 15px); 
            }
        }
    }

    /*Limitless*/
    .limitless {
        height: 500px;
        margin-top: 80px;
        padding-left: 15%;
        background-image: url('../img/limitless.png');
        background-size: contain;
        background-repeat: no-repeat;
        h2 {
            padding-top: 50px;
            font-size: 40px;
            font-weight: 300;
        }
        p {
            padding-top: 20px;
            padding-bottom: 30px;
            font-size: 18px;
        }
        div {
            @include hover-button;
        }
    }

    /*Recent courses*/
    .recent-courses {
        h2 {
            @include h2-style;
        }
        ul {
            display: flex;
            justify-content: center;
            padding: 25px 0;
            li {
                margin-right: 20px;
                &:first-child {
                    background-color: $secondary-color;                    
                    padding: 10px;
                    margin-top: -9px;
                    border-radius: 25px;
                    a {
                        color: $nav_color;
                    }
                }
                
                a {
                    color: $button_color;
                }
            }
        }

        .rc-button {
            @include hover-button;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 100px;
        }
    }

    /*Proud*/
    .proud {
        background-color: $secondary-color;
        background-image: url('../img/we_proud.png');
        background-size:contain;
        background-position: bottom;
        background-repeat: no-repeat;        
        height: 550px;
        text-align: center;
        h2 {
            @include h2-style;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 40px;
        }
        .accomplishments {
            display: flex;
            justify-content: center;
            padding-top: 25px;
            .single-accomplishment{
                padding: 10px 50px;
                border-right: 1px solid $border_color;

                &:last-child {
                    border:none;
                }
                h3 {
                    font-size: 50px;
                    font-weight: 300;
                }
                h4 {
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }
    }

    /*Newsletter*/
    .newsletter {
        background-color: $eleven-color;
        padding: 50px 15%;
        color: $primary_color;
        display: flex;
        align-items: center;
        .newsletter-text {
            width: 60%;
            h3 {
                font-size: 16px;
                padding-bottom: 10px;
            }

            p {
                font-size: 13px;
            }
        }

        .newsletter-input {
            h3 {
                font-size: 15px;
                font-weight: 300;
                padding-bottom: 10px;
            }

            div {
                display: flex;
                input {
                    width: 250px;
                    padding: 12px;
                    border-style:none;
                    background-color: $input_color;            
                }
                .subscribe {
                    color: white;
                    background-color: $button_color;
                    padding: 10px 17px;
                    font-size: 13px;
                    cursor: pointer;
                }
            }

        }
    }

    /*Popular courses*/
    .popular-courses {
        background-color: $secondary-color;
        h2 {
            @include h2-style;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        p {
            text-align: center;
            padding-bottom: 50px;
        }

        .course-card {
            background-color: $primary_color;
        }

        .pb-container {
            display: flex;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 50px;
            .p-button {
                background-color: $primary_color;
                &:hover {
                    background-color: $hover_color-two;
                    color: $primary_color;
                }
                i {
                    padding:10px 15px;
                    color: $border_color;
                    border: 1px solid $border_color;
                }
            }
        }
    }

    /*Become-setup*/
    .become-setup {
        @include narrow-section;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        .bs-column {
            width: 49%;
            height: 300px;
            border: 1px solid $border_color;
            display: flex;
            align-items: center;
            .bs-image {
                width: 40%;
                padding: 20px;
            }
            .bs-text {
                h2 {
                    font-size: 30px;
                    font-weight: 500;
                }
                p {
                    padding-top: 20px;
                    margin-bottom: 35px;
                }
                .button-blue {
                    &:hover {
                        background-color: $eleven_color;
                    }
                }
            }
        }
    }

    /*Review*/
    .review {
        height: 500px;
        background-image: url("../img/brooke-cagle-224821-unsplash-1-1920x700.jpg");
        background-size: cover;
        padding-left: 15%;
        padding-top: 60px;
        .bubble {
            width: 50%;
            background-color: $primary_color;
            padding: 50px;
            position:relative;
            h2 {
                font-weight: 300;
                font-size: 30px;
                padding-bottom: 20px;
            } 
            p {
                line-height: 30px;
                padding-bottom: 20px;
            }
            h4 {
                &:last-child {
                    font-size: 15px;
                }
            }
        }
        .bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 13px solid transparent;
            border-left-color: white;
            border-right: 0;
            margin-top: -13px;
            margin-right: -13px;
        }
    }
}