/*MAIN*/

main {
    color: $font_color;
    .jumbotron {
        display: flex;
        height: 500px;
        margin-left: 15%;        
        .jumbo-left {
            @include column-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 50px;
                font-weight: 300;
            }
            
            h3 {
                padding-top: 10px;
                padding-bottom: 50px;
                font-weight: 400;
            }
            div {
                @include hover-button;
            }

        }

        .jumbo-right {
            @include column-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url('../img/base.png');
            background-position: center;
            background-size: 500px;
            background-repeat: no-repeat;
            position: relative;
            .book-one {
                width: 25%;
                position: absolute;
                top: 32%;
                right: 13%;
            }

            .book-two {
                width: 30%;
                position: absolute;
                bottom: 18%;
                left: 40%;
            }
            .bubble {
                width: 10%;
                position: absolute;
                top: 24%;
                right: 13%;
            }
            .magnifier {
                width: 10%;
                position: absolute;
                bottom: 29%;
                right: 17%;
            }

        }
    }

    .features {
        @include margin-features;
        .top-cards {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            .single-card-top {
                width: calc( 100% / 3 - 15px);                
                background-color: $secondary-color;
                padding: 20px;
                font-size: 14px;
                i {
                    color: $button_color;
                    font-size: 40px;
                }               
                h3 {
                    font-weight: 600;
                    padding: 25px 0;
                }
                p {
                    color: $nav_color;
                    padding-bottom: 10px;
                }
                &:hover {
                    transform: scale(1.1);
                    p {
                        color: $font_color;
                    }
                }

            }
        }

        .bottom-cards {
            display: flex;
            .software-card {
                width: 66%;
            }

            .overlapping-container {
                width: 32%;
                margin-left: 20px;
                .overlapping-card {
                    width: 100%;                    
                    
                    &:first-child {
                        margin-bottom: 23px;
                    }
                }
            }

        }
        .bottom-cards-second {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            .single-card-bottom {

                width: calc( 100% / 3 - 15px); 
            }
        }
    }

    .limitless {
        height: 500px;
        margin-top: 80px;
        padding-left: 15%;
        background-image: url('../img/limitless.png');
        background-size: contain;
        background-repeat: no-repeat;
        h2 {
            padding-top: 50px;
            font-size: 40px;
            font-weight: 300;
        }
        p {
            padding-top: 20px;
            padding-bottom: 30px;
            font-size: 18px;
        }
        div {
            @include hover-button;
        }
    }

    .recent-courses {
        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 300;
        }
        ul {
            display: flex;
            justify-content: center;
            padding: 25px 0;
            li {
                margin-right: 20px;
                &:first-child {
                    background-color: $secondary-color;                    
                    padding: 10px;
                    margin-top: -9px;
                    border-radius: 25px;
                    a {
                        color: $nav_color;
                    }
                }
                
                a {
                    color: $button_color;
                }
            }
        }
        .rc-first-row {
            @include narrow-section;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .course-card {
                width: calc(100% / 6 - 10px);
                border: 1px solid $border_color;
                position: relative;
                margin-bottom: 30px;
                .plate-green {
                    @include plate-base;
                    background-color: $eleven_color;
                }

                .plate-red {
                    @include plate-base;
                    background-color: $eight_color;
                }

                .plate-yellow {
                    @include plate-base;
                    background-color: #f09b23;
                }

                &:nth-child(2) {
                    border: 1px solid $seven_color;
                }
                .course-card-text {
                    padding: 10px;
                    h6 {
                        color: $nav_color;
                    }
                    h5 {
                        padding-top: 10px;
                        padding-bottom: 15px;
                    }
                    div {
                        font-size: 13px;
                        display: flex;
                        justify-content: space-between;
                        padding-top: 10px;
                        position: relative;
                        span {
                            display: flex;
                            align-items: center;
                        }
                        span:last-child {
                            font-weight: bold;
                        }
                        .reduced-price {
                            position: absolute;
                            bottom: 40%;
                            right: 0;
                            font-size: 12px;
                            color: $nav_color;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .rc-button {
            @include hover-button;
            text-align: center;
            margin-top: 40px;
        }
    }
}