$primary_color: #ffffff;
$secondary-color:#f2f6fb;
$button_color: #1a5eca;
$hover_color: #1654b4;
$hover_color-two:#457992;
$input_color: #f0f2f5;
$nav_color: gray;
$border_color: #e4e8ed;
$font_color: #273044;
$five_color: #a3907c;
$seven_color: #fecc4f;
$eight_color: #fd0303;
$nine_color: #bd5029;
$ten_color: #01d7f5;
$eleven_color: #4bd7a8;
$nav_font: 13px;





